.SocialList {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.SocialList li {
    margin: 0 1em;
    font-size: 2em;
    color: #1586B8;

}
.SocialList li:hover {
    cursor: pointer;
    color: #000;
    transition: all 800ms ease;
}