nav ul {
    display: flex;
    list-style-type: none;
    background-color: #666;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
    width: 100%;
}

.Item {
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    border-radius: 0.2rem;
    background-color: #fff;
}